@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	pre[class*="shiki"] {
		display: flex;
	}

	pre[class*="shiki"]>code {
		font-family: "Victor Mono", Consolas, Monaco, "Andale Mono", monospace;
		/* font-style: normal;  */
		font-size: 0.75rem;
		/* direction: ltr;  */
		/* text-align: left;  */
		/* white-space: pre;  */
		/* word-spacing: normal;  */
		/* word-break: normal;  */
		/* line-height: 1; */

		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;

		display: inline flex;
		flex-direction: column;
		flex-grow: 1;
	}

	@media (min-width: 1024px) {
		pre[class*="shiki"]>code {
			font-size: 0.9rem;
		}
	}

	pre[class*="shiki"]::-moz-selection,
	pre[class*="shiki"] ::-moz-selection {
		color: theme("colors.gruvdfg0");
		background-color: theme("colors.gruvdbg4");
	}

	pre[class*="shiki"]::selection,
	pre[class*="shiki"] ::selection {
		color: theme("colors.gruvdfg0");
		background-color: theme("colors.gruvdbg4");
	}

	pre[class*="shiki"]>code>span[class*="highlighted"] {
		background-color: #444444;
	}

	:not(pre)>code {
		background-color: #3a3a3a;
		padding: 0.2em;
		border-radius: 0.3em;
	}
}

@layer components {
	.logodark .logostrokecolor {
		stop-color: theme('colors.gruvdfg');
		stop-opacity: 1;
	}

	.logo .logostrokecolor {
		stop-color: theme('colors.gruvlfg');
		stop-opacity: 1;
	}
}

@font-face {
	font-family: 'Victor Mono';
	src: url('/VictorMono-Regular.woff2') format('woff2');
	font-weight: normal;
	/* unicode-range: U+20,U+21,U+24,U+26-30,U+32,U+39-3B,U+3D,U+3E,U+41,U+43-46,U+49,U+4B,U+4D-50,U+52,U+53,U+55,U+5A-5E,U+60-7B,U+7D; */
}

@font-face {
	font-family: 'Victor Mono';
	src: url('/VictorMono-Bold.woff2') format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('/VictorMono-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('/VictorMono-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}
