@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply py-2;
  }
}

@layer components {
  .logodark .logostrokecolor {
    stop-color: theme('colors.gruvdfg');
    stop-opacity:1;
  }

  .logo .logostrokecolor {
    stop-color: theme('colors.gruvlfg');
    stop-opacity:1;
  }

  .note {
    @apply bg-gruvdbg0s;
  }
}
