@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply py-2;
  }
}

@layer components {
  .logodark .logostrokecolor {
    stop-color: theme('colors.gruvdfg');
    stop-opacity:1;
  }

  .logo .logostrokecolor {
    stop-color: theme('colors.gruvlfg');
    stop-opacity:1;
  }
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/VictorMono-Regular.woff2') format('woff2');
  font-weight: normal;
  /* unicode-range: U+20,U+21,U+24,U+26-30,U+32,U+39-3B,U+3D,U+3E,U+41,U+43-46,U+49,U+4B,U+4D-50,U+52,U+53,U+55,U+5A-5E,U+60-7B,U+7D; */
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/VictorMono-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/VictorMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/VictorMono-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

